.footer {
  margin: 15vh 0px 0px 0px;
  min-height: 120px;
  //width: 80%
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.linkedin {
  width: 60px
  
}

.twitter {
  width: 60px
}

.github {
  width: 90px
}

.email {
  width: 90px
}