.footer {
  margin: 15vh 0px 0px 0px;
  min-height: 10em;
  //width: 80%
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.linkedin {
  width: 3.8em
  
}

.twitter {
  width: 3.7em
}

.github {
  width: 5.4em
}

.email {
  width: 15em;
  margin-top: 20px;
}